@using ServiceStack.Html;
@{  
}
<div class="row">
    <div class="area-top clearfix">
        <div class="pull-left header">
            <h3 class="title">
                @ViewBag.Title
            </h3>
        </div>     
        
    </div>
</div>
