@inherits ViewPage

@{    
    ViewBag.Title ="Login - AudiencePoint - Send time optimization";
    Layout = "_layout";
}


<div class="col-md-4 col-md-offset-4">
  <div class="padded">
    <div class="login box" style="margin-top: 80px;">

      <div class="box-header">
        <span class="title">Login</span>
      </div>
      <form action='/optimize/auth/credentials' method='POST'>
        <input type='hidden' name='Continue' value='@Request.QueryString["redirect"]' />
         
       <div class="box-content padded">
            @if (Request.QueryString["error"] != null)
            {
                <p style="color:red;">
                    @Request.QueryString["error"]
                </p>
            }
          <div class="input-group addon-left">
            <span class="input-group-addon" href="#">
              <i class="icon-user"></i>
            </span>
            <input type='text' name='UserName' />
          </div>
          <br />
          <div class="input-group addon-left">
            <span class="input-group-addon" href="#">
              <i class="icon-key"></i>
            </span>
            <input type='password' name='Password' />
            </div>
            <br/>     
            <button class='btn btn-blue' type='submit' >
                <i class="icon-signin"></i>
                Sign In
            </button>

           <div>
         </div>
       </div>
       </form>
      </div>
  </div>
</div>